version: 1.0.{build}
image: Visual Studio 2022

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: "true"
  DOTNET_CLI_TELEMETRY_OPTOUT: "true"

install:
- ps: build/ci/appveyor/installDotnet10.0Sdk.ps1

build_script:
# dotnet installs dev certs on first use, and writes to stderr when it does this.
# Use cmd rather than ps, so this won't error the job
- cmd: dotnet build

test_script:
- ps: |
    cd test/UnitTests
    dotnet test --logger:trx`;logfilename=UnitTests.trx
    if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode)  }

    $wc = New-Object 'System.Net.WebClient'
    $wc.UploadFile("https://ci.appveyor.com/api/testresults/mstest/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestResults\UnitTests.trx))

artifacts:
- path: test/UnitTests/TestResults/UnitTests.trx
