/*
	Main stylesheet for the PiSearch website
	By Josh Keegan 30/01/2015
	Last Edit 07/02/2015
 */
body
{
	padding-top: 65px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content 
{
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt 
{
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
	max-width: 280px;
}

#viewOnGithubContainer
{
	background-color: #5a5a5a;
	color: #eee; 
}

#viewOnGithub
{
	background: url("../img/github-button.png") no-repeat scroll 0 0 transparent;

	display: inline-block;
	width: 202px;
	height: 80px;

	color: white;
	font-size: 25px;
	line-height: 1.2;
	padding: 19px 0 0 73px;
	text-decoration: none;
}

#viewOnGithub small
{
	display: block;
	font-size: 14px;
}

@media screen and (min-width: 765px)
{
	#viewOnGithubContainer
	{
		position: relative;
	}

	#viewOnGithub
	{
		position: absolute;
		right: 20px;
		top: 20px;
	}
}

#searchResultDigitsFound
{
	color: #f00;
}